@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: "Inter", sans-serif;
    --font-poppins: "Poppins", sans-serif;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins font-semibold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

